<header>

  <div id="bg"></div>​
    <div class="container">
      <div class="overflow">
        <div class="bg-text">
            <p>ВЕБ-ДИЗАЙН</p>
            <p>HTML5</p>
            <p>fluent CSS3</p>
            <p>SASS</p>
            <p>GRUNT</p>
            <p>ES3</p>
            <p>PHOTOSHOP</p>
          </div>
        </div>

        <div class="img">
            <img src="{{site.url}}/image/banana.png" width="100" alt="">
        </div>

        <nav class="main-navigation">
            <ul class="main-navigation__links">
                <li class="main-navigation__items">
                    <a href=""><img src="{{site.url}}/image/glyph-git.png" alt=""></a>
                </li>
                <li class="main-navigation__items">
                    <a href=""><img src="{{site.url}}/image/glyph-inst.png" alt=""></a>
                </li>
                <li class="main-navigation__items">
                    <a href=""><img src="{{site.url}}/image/glyph-twit.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </div>

</header>
